/* Roboto-300 - latin */
/* Roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v20-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* Roboto-200 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/roboto-v20-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Roboto ExtraLight'), local('Roboto-ExtraLight'),
       url('../fonts/roboto-v20-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-200.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* Roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* Roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Regular'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* Roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* Roboto-600 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Roboto SemiBold'), local('Roboto-SemiBold'),
       url('../fonts/roboto-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-600.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* Roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* Roboto-800 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Roboto ExtraBold'), local('Roboto-ExtraBold'),
       url('../fonts/roboto-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-800.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* Roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/********************
*****Slide effect
**********************/




.fade .carousel-item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .carousel-item:first-child {
    top: auto;
    position: relative;
}
.fade .carousel-item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.bs-slider.fade {
    opacity: 1 !important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-block;
}
.control-round .carousel-control .fa{    padding-top: 7px;}

.bs-slider{

    z-index: 10;
    
    position: relative;   background-size: cover;
 background:url(../images/bg.jpg) no-repeat left top; /*height:100vh; */ background-size: 100%;height:100%;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}






/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;    padding: 10px 15px; color:#ecd489
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;    padding: 10px 15px; color:#ecd489
}





/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
   
   bottom: 12%;
    left: 0;
    width: 100%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: left;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap; margin:0;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
      width: 14px;
    height: 14px;
    border: 1px solid #fff;
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 2px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
	
	opacity:1;
	
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
     
    box-shadow: 0 0 0 0 #0078bf;
   background: none;
    position: relative;
	 border: 2px solid #fff;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: transparent;
    content:"";
    position: absolute;
    left:0px;
    top:0px;
    width:14px;
    height: 14px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}



/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
}

.slide-text {
left: 0;
top:25%;
    right: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 20px;
 
	 color:#ff253f;
    
}
.bannerimg {text-align: center;
    margin-top: 70px; margin-bottom: 123px;
 }

.bannerimg img {  -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.bannerimg.img3 {   margin-top: 90px;
	
}


.innerBanner .slide-text {
    left: 0;
    top: 19%;
}

 
.slide-text h1 {
    
    padding: 0;
    color: #fff;
    font-size:65px;
    font-style: normal;
     margin-bottom: 0;
    letter-spacing: 0;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
	 font-family: 'Roboto';
background:none;
text-transform:inherit; font-weight:bold;     padding: 7px 0 7px 0;
	 
  
  
}

 
.slide-text h2 {
    
    padding: 0;
    color: #fff;
    font-size:46px;
    font-style: normal;
     margin-bottom: 0;
    letter-spacing: 0;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
	 font-family: 'Roboto';
background:none;
text-transform:inherit; font-weight:bold;     padding: 7px 0 7px 0;
	 
  
  
}

.slide-text img{margin:0 0 15px;}


.slide-text > p { font-size: 24px;margin: 0 50px 0 0;
        
    }

.slide-text h1 span{ color:#0078bf; display:block; font-weight:300; }


.slide-text.caption3{
	 width: 28%;
}
.slide-text.caption3 span{display:inline-block;}

.slide-text div{ background:#fff; display:inline-block;    padding: 16px 25px; text-align:center;
}
.slide-text strong{display:block;}


.slide-text.caption2 h1{display:block;}

.slide-text.caption1 h1{   font-size:20px;line-height: 26px;  display: block; margin: 0 0 20px;}
.slide-text.caption2 h1{  font-size:31px; line-height: 39px;  }

.slide-text.caption3 p{ color:#000; }
.slide-text.caption4 p{ color:#000; }


.slide-text > a.btn-default{ position:relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 12px 31px 12px 17px;
    white-space: nowrap;
    letter-spacing: 0;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#51f6cf+1,40c1fa+100 */
background: rgb(81,246,207); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(81,246,207,1) 1%, rgba(64,193,250,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(81,246,207,1) 1%,rgba(64,193,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(81,246,207,1) 1%,rgba(64,193,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51f6cf', endColorstr='#40c1fa',GradientType=0 ); /* IE6-9 */
border-radius:5px; /*color:#012231;*/ transition: ease 0.5s all;

}
.slide-text > a.btn-default i{    margin-top: 0px;
    position: absolute;
    right: 15px;}
 
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
 
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#51f6cf+1,40c1fa+100 */
background: rgb(81,246,207); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(64,193,250,1) 1%, rgba(81,246,207,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(64,193,250,1) 1%, rgba(81,246,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(64,193,250,1) 1%, rgba(81,246,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51f6cf', endColorstr='#40c1fa',GradientType=0 ); /* IE6-9 */



    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}






/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;   position: relative; top: 0;
    }
    .slide-text h1 {
        font-size: 25px;
      line-height: 30px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }
	
	.indicators-line > .carousel-indicators {
bottom: 7%;
    right: 0;
    width: 22%;
    left: auto;
	}
	
	.bannerimg.img3 {
    margin-top: 185px;
}
	#section1 {
     padding: 0 0 70px 0;
}

.aboutRightContent {
    margin: 20px 0 0;
}
/*#section2, #section8 {
     padding: 60px 20px 70px 20px;
}
*/
.counter .col-md-3{width:50%; margin-bottom:40px;}
.keynotesContentOuter {
    padding: 20px 0 0;
}

.bs-slider {
    z-index: 10;
    position: relative;
    background-size: cover;
    background: url(../images/bg.jpg) no-repeat left top;
    height: 100%;  
    background-size:auto;
}
.slide-text.caption1 h1 {
     margin: 0;
}

.slide-text img {
    margin: 0 0 15px;
    width: 75%;
}
.slide-text {
    padding: 0 40px 40px 0px;
}


}
@media  (max-width: 480px) {
    .slide-text {
        padding:10px 40px 10px 0px;  }
    
    .slide-text h1 {
       
    }
	
	.slide-text.caption2 h1 {
    font-size: 22px;
    line-height: 26px;
}


    .slide-text > p {  
        
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 31px 10px 15px;
    }
  /*  .indicators-line > .carousel-indicators{
        display: none;
    }*/

}

 @media (min-width: 1000px) and (max-width: 1199px) {
    
     
}



@media screen and (max-width: 767px) {
	.slide-text img {
    margin: 0 0 15px;
    width: 50%;
}
	
}




/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
   .indicators-line > .carousel-indicators{
 
   }
 /*  .slide-text {
    left: 45px;
    bottom: 272px;
   }
   .slide-text.caption1{
   width: 40%;
   }
    .slide-text.caption2{
   width: 40%;
   }
    .slide-text.caption3{
   width: 40%;
   }
    .slide-text.caption4{
   width: 40%;
   }
   */
   
 
    .slide-text.caption1 {
    top: 34%; font-size:27px;line-height: 33px;
	    width: 77%;
}

  
   .slide-text.caption2 {
    top: 24%;
	/*    width: 70%;*/
}
	
	.slide-text.caption2 h1 {

    font-size: 31px;
    line-height: 40px;

}
	
	.bs-slider{
 height:100%; 
}


    
    }
	
	
	
	@media only screen and (max-width: 1440px) {

 
	
	
}


@media screen and (max-width: 767px) {
	.slide-text h2 {

    font-size: 36px; padding: 28px 0 7px 0;
	}
	
	.innerBanner .slide-text img {
    margin: 12px 0 0px;
    width:100%;
}
	.innerBanner .slide-text {
    padding: 0 0 0;
}
	
	.bannerimg {
    text-align: center;
    margin-top:35px;
	 margin-bottom: 0;
}

.bannerimg.img3 {
    margin-top: 9px;
}
.slide-text {
padding: 0 0 65px;
    position: relative;
    top: 0;
	text-align: center !important;

}
.bannerimg.img3 {
    margin-top: 150px;
}
.indicators-line > .carousel-indicators {
    bottom: 10%;
    right: 0;
    width: 22%;
    left: auto;
}
}



@media (max-width: 280px) {
	.slide-text.caption1 h1 {
    font-size: 19px;
	}
	.indicators-line > .carousel-indicators {
    bottom: 10%;
    right: 0;
    width: 27%;
    left: auto;
}
	
}



 @media only screen and (min-width:768px) and (max-width:999px) {

 .slide-text img {
    margin: 0 0 15px;
    width: 38%;
}
.slide-text.caption2 h1 {
    font-size: 22px;
    line-height: 26px;
}

.bannerimg {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}



.slide-text {
    padding: 0;
    position: relative;
    top: 113px;
}


.bannerimg.img3 {
    margin-top: 58px;
}
}



 @media only screen and (min-width:768px) and (max-width:999px) {
	 
	 .slide-text {
    padding: 88px 0 0px 0px;
}

.slide-text.caption1 h1 {
    font-size: 17px;
    line-height: 26px;
}
.slide-text.caption2 h1 {
    font-size: 22px;
    line-height: 29px;
}
.bannerimg.img3 {
    margin-top: 51px;
    margin-bottom: 10px;
}
.bannerimg {
    text-align: center;
     margin-top: 22px;
margin-bottom: 64px;
}
	 
 }